@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$border-ligth: #bebebe;
$dark-light: #f9f9f9;

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    width: 100vw;

    [class*="side"] {
        border: 1px solid $border-ligth;
    }
}


.left-side {
    display: flex;
    flex-direction: column;

    select {
        padding: .2rem;
        border-radius: .2rem;
    
        &:focus {
            outline: none;
        }
    }
    

    input {
        padding: .2rem;
        border-radius: .2rem;
        border: 1px solid $border-ligth;
        flex: 1;
    }

    #startAttack {
        background-color: rgb(255, 104, 49);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: .3rem 1rem;

        p {
            margin: 0;
            padding: 0;
        }

        span {
            font-size: 1rem;
        }
    }

    .params {
        display: flex;
        gap: .5rem;
        height: 100%;
        overflow: hidden;

        #requestBody {
            border-radius: 0;
            height: 100%;
            width: 100%;
            flex: 1;
            resize: none;
            appearance: none;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .textarea__lines {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-right: 1px solid $border-ligth;
        }
    }
}

.right-side {
    background-color: $dark-light;


    #payloadConfig {
        display: flex;
        padding: 1rem;

        div {
            flex: 1;
            display: flex;
            gap: .5rem;
            flex-direction: column;

            input {
                padding: .2rem;
                border-radius: .2rem;
                border: 1px solid $border-ligth;
                flex: 1;
            }

            div {
                display: flex;
                flex-direction: column;
                flex: 1;

                textarea{
                    resize: vertical;
                    border-radius: 0;
                    border: 1px solid $border-ligth;
                    outline: none;
                }
            }
        }
    }

    .simpleListForm {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        input {
            cursor: pointer;
            border-radius: .2rem;
            display: flex;
            border: 1px solid $border-ligth;
            background-color: white;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            padding: .2rem 1rem;
            justify-content: center;

            span {
                font-size: .3rem;
            }
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: 1px solid $border-ligth;
        font-weight: bold;
    }

    .payload-div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        gap: 1rem;
        border-bottom: 1px solid $border-ligth;
    }
}


button {
    cursor: pointer;
    border-radius: .2rem;
    display: flex;
    border: 1px solid $border-ligth;
    background-color: white;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .2rem 1rem;
    justify-content: center;

    span {
        font-size: .3rem;
    }
}

[class*="bar"] {
    border-bottom: 1px solid $border-ligth;
    padding: 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
}

input {
    border: 1px solid $border-ligth;
    border-radius: 0;
}

select {
    border: 1px solid $border-ligth;
    border-radius: 0;
    flex: 1;
}