@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  width: 100vw;
}
body .right-side {
  border-left: 1px solid #bebebe;
}

.left-side {
  display: flex;
  flex-direction: column;
}
.left-side select {
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.left-side select:focus {
  outline: none;
}
.left-side input {
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid #bebebe;
  flex: 1;
}
.left-side #startAttack {
  background-color: rgb(255, 104, 49);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.3rem 1rem;
}
.left-side #startAttack p {
  margin: 0;
  padding: 0;
}
.left-side #startAttack span {
  font-size: 1rem;
}
.left-side .params {
  display: flex;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
}
.left-side .params #requestBody {
  border-radius: 0;
  height: 100%;
  width: 100%;
  flex: 1;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}
.left-side .params #requestBody:focus {
  outline: none;
}
.left-side .params .textarea__lines {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid #bebebe;
}

.right-side {
  background-color: #f9f9f9;
}
.right-side #payloadConfig {
  display: flex;
  padding: 1rem;
}
.right-side #payloadConfig div {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.right-side #payloadConfig div input {
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid #bebebe;
  flex: 1;
}
.right-side #payloadConfig div div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-side #payloadConfig div div textarea {
  resize: vertical;
  border-radius: 0.2rem;
  border: 1px solid #bebebe;
  outline: none;
}
.right-side .simpleListForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.right-side .simpleListForm input {
  cursor: pointer;
  border-radius: 0.2rem;
  display: flex;
  border: 1px solid #bebebe;
  background-color: white;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 1rem;
  justify-content: center;
}
.right-side .simpleListForm input span {
  font-size: 0.3rem;
}
.right-side .title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #bebebe;
  font-weight: bold;
}
.right-side .payload-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border-bottom: 1px solid #bebebe;
}

button {
  cursor: pointer;
  border-radius: 0.2rem;
  display: flex;
  border: 1px solid #bebebe;
  background-color: white;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 1rem;
}
button span {
  font-size: 0.3rem;
}

[class*=bar] {
  border-bottom: 1px solid #bebebe;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

input {
  border: 1px solid #bebebe;
  border-radius: 0;
}

select {
  border: 1px solid #bebebe;
  border-radius: 0;
  flex: 1;
}/*# sourceMappingURL=main.css.map */