@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$border-light: #bebebe;
$dark-light: #f9f9f9;
$dark: #333;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    user-select: none;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-light;
    margin-bottom: 20px;

    p{
        padding: 0px;

    }
}

table {
    width: 100%;
    border: 1px solid $border-light;
    border-collapse: collapse; 
    table-layout: auto;

    th {
        background-color: $dark;
        color: white;
        border: 1px solid $dark;
    }

    th, td {
        border: 1px solid $border-light;
        padding: 8px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: $dark-light;
    }
}

textarea{
    margin-top: 10px;
    width: 100%;
    height: auto;
    resize: none;
    border: 1px solid $border-light;
    padding: 8px;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}

.succes{
    color: green;
}